.Item {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right,rgb(170,73,77), rgb(235,235,235) 15%);
    box-shadow: 15px 15px 5px rgb(103,103,103);
    border: solid;
    border-color: red;
    border-width:2px; 
    border-radius: 15px;
    padding: 10px;
    margin: 30px;
}

.Top{
    flex: 75%;
}
.Bottom{
    align-items: center;
    flex: 25%;
}

.Header{
    font-size: 25px;
    text-decoration: underline;
    color: rgb(195, 0, 0);
}

.Time{
    font-weight: bold;
    font-size: 20px;
}

.Content{
    font-size: 20px;
}

@media only screen and (max-width: 768px){
    .Item{
        margin: 15px;
    }

    .Header{
        font-size: 13px;
    }

    .Content{
        font-size: 13px;
    }
    .Time{
        font-weight: bold;
        font-size: 13px;
    }
}